@import 'assets/scss/style.scss';
@import 'assets/scss/media-query/media-index.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}