::ng-deep .mat-dialog-container {
    width: 85vh !important;
    height: 85vh !important;
    border-radius: 50% !important;
    background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3A393F 0%, #17171A 100%);
}