<body class="flexRow flexCenter">
    <img src="../../../assets/images/star-blank.png" class="star star__1" alt="Star" (mouseover)="changeStarYellow($event)" (mouseout)="changeStarBlank($event)">
    <img src="../../../assets/images/star-blank.png" class="star star__2" alt="Star" (mouseover)="changeStarYellow($event)" (mouseout)="changeStarBlank($event)">
    <img src="../../../assets/images/star-blank.png" class="star star__3" alt="Star" (mouseover)="changeStarYellow($event)" (mouseout)="changeStarBlank($event)">
    <img src="../../../assets/images/star-blank.png" class="star star__4" alt="Star" (mouseover)="changeStarYellow($event)" (mouseout)="changeStarBlank($event)">
    <img src="../../../assets/images/star-blank.png" class="star star__5" alt="Star" (mouseover)="changeStarYellow($event)" (mouseout)="changeStarBlank($event)">
</body>