.card {
    &__button {
        background-color: $dark-gray;
        border: none;
        border-radius: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
        font-size: 1.75rem;
        padding: 1.25rem 2.5rem;
        cursor: pointer;
    
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}