@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/media-query/media-chrono.scss';

body {
    height: 100vh;
    color: $white;
    background: radial-gradient(30% 53% at 52% 51%, #3A393F 0%, #17171A 100%);
}

.circle {

    .chrono-inside {
        align-items: center;

        .time {
            margin-bottom: 1.5rem;

            h1.separation {
                margin: 0 1rem;
            }
        }

        span {
            line-height: 1.2rem;
            letter-spacing: 0.5rem;
            margin-bottom: 1rem;
        }

        mat-icon {
            color: rgb(66, 66, 67);
        }
    }
}