button {
    width: 95%;
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: $purple;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}