.line {
    width: 100%;
    height: 0.6rem;
    background-color: $ghost-white;
    margin-top: 2rem;
}

.line__light {
    width: 100%;
    height: 0.2rem;
    background-color: $ghost-white;
    margin: 1rem 0;
}