$background-color : rgb(246, 246, 243);
$ghost-white : rgb(247, 247, 247);
$light-gray : rgb(222, 222, 222);
$gray : rgb(179, 179, 179);
$dark-gray : rgb(51, 51, 51);;
$ghost-gray : rgb(238, 238, 238);
$light-blue : rgb(96, 193, 182);
$light-orange : rgb(237, 120, 97);
$white : rgb(255, 255, 255);