.titleExpenses {
    color: $lime;
    margin-bottom: 2rem;
}

.articles{
    width: 90%;
    align-items: center;
    
    &__article {
        width: 100%;
        color: $white;
        justify-content: space-between;
        border-bottom: 2px solid $gray;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
    }
}