.results {
    width: 100vw;
    height: 20%;
    background-color: $white;
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;

    &__row {
        justify-content: space-evenly;

        span {
            font-size: 1.2rem;
            font-weight: 700;
            color: $gray;
        }

        h1 {
            font-size: 3.4rem;

            &.positive {
                color: $green;
            }

            &.negative {
                color: $red;
            }
        }
    }
}