@include respond(phone) {
    body {
        .password {
            input {
                width: 45% !important;
                font-size: 1.4rem !important;
            }
        }

        .length {
            .mat-slider {
                transform: translateX(-30px) !important;
            }
        }

        .options {
            width: 68% !important;

            p {
                font-size: 0.8rem !important;
            }
        }
    }
}