@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/media-query/media-gear.scss';

body {
    color: $white;
    
    & > div {
        align-items: center;

        h2 {
            margin-right: 1rem;
        }
    }   
}