@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/media-query/media-carousel.scss';

body {
    height: 100vh;

    p {
        margin-top: 1rem;
    }

    .carousel {
        &__lateral {

            &__left {
                left: 0;
            }
    
            &__right {
                right: 0;
    
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}