<body class="flexColumn">
    <div class="section section__one flexRow">
        <img src="../../../assets/images/question-1.svg" alt="Image of the first section">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
                <p>Technically, Svelte is a library and SvelteKit is a framework. What's the difference?</p>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis minus sequi quos animi cupiditate fugiat nostrum reiciendis
            exercitationem delectus quis explicabo dolores libero quam, aut labore modi saepe laboriosam!</p> 
        </mat-expansion-panel>
    </div>
    <div class="section section__two flexRow">
        <img src="../../../assets/images/question-2.svg" alt="Image of the first section">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
                <p>Do you provide a certificate of completion?</p>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis minus sequi quos animi cupiditate fugiat nostrum reiciendis
            exercitationem delectus quis explicabo dolores libero quam, aut labore modi saepe laboriosam!</p>
        </mat-expansion-panel>
    </div>
</body>