p {
    margin-bottom: 1rem;
    line-height: 2rem;
}

span {
    font-weight: 700;
    color: $pink;
    text-decoration: underline;
}

h4 {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: $black;
}