.piano {
    &__blacks {
        position: absolute;
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;

        &__black {
            background-color: $black;
            height: 100%;
            width: 3.75vw;
            margin-left: 4.4vw;
            
            &:hover {
                background-color: $pink;
            }
        }
    }
}