$lime : rgb(81, 241, 41);
$light-gray : rgb(142, 144, 157);
$gray : rgb(50, 54, 69);
$dark-gray : rgb(40, 42, 55);
$green : rgb(76, 165, 54);
$red : rgb(223, 20, 20);
$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);