@import '../../../assets/scss/style.scss';

body {
    width: calc(50vh - 2rem);
    height: 80vh;
    margin-top: 10vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 70px #c7cbe3;
    background-color: $white;
    padding: 2rem 0 0 4rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;

    .plates {
        margin-top: 3rem;

    }
}