<body>
    <h2>To Go Menu</h2>
    <div class="plates">
        <div *ngFor="let plate of cart">
            <div class="plate {{plate.plate}} flexColumn">
                <img [src]="plate.image" class='plate__image' alt="The image of the plate">
                <p class="plate__title">{{plate.title}}</p>
                <h2 class="plate__price">{{plate.price}}€</h2>
                <div (click)="addToCart($event, plate.number, plate)" class="circleAddToCart circleAddToCart__{{plate.number}} noClicked__{{plate.number}}">
                    <p class="p__{{plate.plate}}">Add to Cart</p>
                </div>
            </div>
        </div>
    </div>
</body>
