@import '../assets/scss/style.scss';
@import '../assets/scss/media-query/media-app.scss';

body {
    justify-content: space-evenly;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $background-color;

    app-menu, app-cart {
        z-index: 2;
        z-index: 2;
    }
}