<body>
    <div class="win flexRow"> 
        <div class="win__movements flexRow">
            <img src="../../../assets/image/paper.png" class="win__movements__jp" alt="">
            <img src="../../../assets/image/rock.png" class="win__movements__pc" alt="">
        </div>
        <div class="win__winner win__winner__jp">
            <h1 class="win__winnerjp__title">You win!</h1>
            <img src="../../../assets/image/you-win.svg" class="win__winnerjp__background" alt="Background of the winner">
        </div>
        <div class="win__winner win__winner__pc">
            <h1 class="win__winnerjp__title">computer wins</h1>
            <img src="../../../assets/image/computer-wins.svg" class="win__winnerpc__background" alt="Background of the winner">
        </div>
    </div>
</body>