$background-color : rgb(239, 240, 246);
$border-color : rgb(215, 214, 252);
$primary-purple : rgb(107, 0, 245);
$light-blue : rgb(225, 240, 254);
$ghost-white : rgb(247, 247, 255);
$ice-white : rgb(222, 254, 240);