$background-color : rgb(239, 240, 246);
$primary-purple : rgb(107, 0, 245);
$light-blue : rgb(225, 240, 254);
$ghost-white : rgb(247, 247, 255);
$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$pink : rgb(255, 226, 240);
$green : rgb(222, 254, 240);