@import '../../../assets/scss/style.scss';

body {
    height: 100vh;
    background-color: $background-color;
    position: relative;
    padding-top: 4rem;
    
    .creditCard {
        position: absolute;
        height: 50vh;
        width: 85vh;
        top: 0;
        left: 30%;
        font-family: 'Courier Prime', sans-serif;

        &__front, &__back {
            position: absolute;
            transition: all 0.8s ease;
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }

            * {
                position: absolute;
            }
        }

        &__back {
            transform: rotateY(90deg);
            
            * {
                cursor: none;
            }

            &__holder {
                font-family: 'Beth Ellen', sans-serif;
                font-size: 1.5rem;
                top: 35%;
                left: 17%;
            }

            &__cvv {
                font-weight: 700;
                font-size: 1.2rem;
                top: 40.5%;
                left: 75%;
            }
        }

        &__front {
            * {
                cursor: none;
            }

            &__number {
                top: 45%;
                left: 16.5%;
                font-size: 2.25rem;
            }

            &__date {
                top: 59.5%;
                left: 53%;
                font-weight: 700;
                font-size: 1.25rem;
            }

            &__holder {
                top: 70%;
                left: 17%;
                font-size: 1.25rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
        }
        
        &:hover {
            .creditCard__back {
                transform: rotateY(0);
            }
        }
    }

    .form {
        height: calc(70vh - 20rem);
        width: calc(60vw - 4rem);
        background-color: $white;
        border-radius: 2rem;
        box-shadow: 0px 9px 24px rgba($black, 0.25), 0px 0px 95px $background-color;
        padding: 10rem 2rem;

        &__top {
            margin-bottom: 4rem;
            
            &__field {
                width: 50%;

                input {
                    width: 85%;                    
                }
            }
        }

        &__bottom {
            align-items: flex-end;
            gap: 2rem;

            &__field {
                select {
                    height: 3.3rem;
                    width: 16rem;
                }
            }
        }
    }
}

.shadow {
    text-shadow: 0px 2px 2px rgba($black, 0.65);
}

.main {
    font-family: 'Courier Prime', sans-serif;
    font-weight: 700;
    background: linear-gradient(180deg , $white 15.34%, $light-gray 21.24%, $white 37.13%, rgba(188, 203, 217, 0.68) 48.94%, rgba($white, 0.830204) 58.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

p {
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

input, select {
    padding: 0.5rem;
    height: 2rem;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    border: 2px solid $light-gray;
    border-radius: 4px;
}

button {
    width: 95%;
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: $purple;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}