@import '../../../assets/scss/style.scss';

body {
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    padding: 1rem;
    height: auto;
    overflow: hidden;

    .calculator {
        height: 100%;
        background-color: $white;
        border-radius: 2rem;
        box-shadow: 0px 0px 44px rgb(148 146 120 / 23%);

        &__results {

            &__tipAmount {
                border-bottom: 1px solid $light-gray;
            }

            &__tipAmount, &__totalPerson {
                align-items: center;
                justify-content: center;
                padding: 4rem;

                p { 
                    margin-right: 3rem;
                }
            }
        }

        &__inputs {
            background-color: $ghost-white;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;

            &__billAmount {
                border-right: 1px solid $light-gray;
                flex: 1;
                align-items: center;

                &__input {

                    img {
                        margin-right: 2rem;
                    }

                    input {
                        width: 15rem;
                    }
                }
            }

            &__numberPeople{

                &__input {

                    input {
                        width: 7.5rem;
                    }
                }

                p {
                    width: auto;
                    text-align: center;
                }
            }

            &__billAmount, &__numberPeople {
                padding: 5rem 3rem;
                
                &__input {
                    border-bottom: 3px dotted $light-gray;
                    width: 100%;

                    input {
                        height: 3.2rem;
                        transform: translateY(-0.5rem);
                        border: none;
                        background-color: transparent;
                        font-family: 'Inter', sans-serif;
                        font-weight: 700;
                        font-size: 4rem;
                        text-align: right;

                        &:focus {
                            outline: none;
                        }

                        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }   
                }
                
                p {
                    margin: 1rem 0;
                }
            }
        }

        &__percentages {
            padding: 2rem;
            background-color: $ghost-gray;
            border-top: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
            justify-content: space-evenly;
            
            button {
                color: $light-blue;
                background-color: $white;
                padding: 1rem 2rem;
            }
        }

        &__calculate {
            padding: 2rem;
            background-color: $white;
            justify-content: flex-end;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;

            button {
                background-color: $light-orange;
                color: $white;
                padding: 1rem 4rem;
            }
        }
    }
}

p {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
}

h1, p {
    color: $dark-gray;
}

button {
    border: none;
    box-shadow: 0px 1px 8px rgb(0 0 0 / 5%);
    border-radius: 0.8rem;
    font-size: 1.75rem;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    min-width: 8rem;
    cursor: pointer;
}

.selected {
    background-color: $light-blue !important;
    color: $white !important;
}

@media (max-width : 425px) {
    h1 {
        font-family: 'Inter', sans-serif;
        font-size: 2.5rem;
    }

    body {
        .calculator {
            &__results {
                &__tipAmount, &__totalPerson {
                    padding: 2rem !important;
                }
            }

            &__inputs {
                justify-content: center;

                &__billAmount {
                    flex: none;
                }

                &__billAmount, &__numberPeople {
                    padding: 2rem 1rem;

                    input {
                        font-size: 2.5rem;
                        width: 5rem;
                    }
                }
            }

            &__percentages {
                padding: 1rem;

                button {
                    font-size: 1.25rem;
                    padding: 0.8rem 1.2rem;
                    min-width: 0 !important;
                }
            }
        }
    }
}