@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/media-query/media-calculator.scss';

body {
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    padding: 1rem;
    height: auto;
    overflow: hidden;
}