input {
    height: 6.5rem;
    width: 5.5rem;
    border: none;
    background-color: $light-gray;
    font-size: 3.75rem;
    text-align: center;
    font-weight: 900;
    color: $light-blue;

    &:not(:first-of-type) {
        margin-left: 1.5rem;
    }

    &:focus {
        outline: none;
    }
}