<body>
    <div class="piano">
        <div class="piano__blacks">
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
            <div class="piano__blacks__black"></div>
        </div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
        <div class="piano__white"></div>
    </div>
</body>
