<body class="flexRow">
    <div class="piano flexRow">
        <div class="piano__blacks">
            <div class="piano__blacks__black" (click)="sound(14)"></div>
            <div class="piano__blacks__black" (click)="sound(15)"></div>
            <div class="piano__blacks__black" (click)="sound(16)"></div>
            <div class="piano__blacks__black" (click)="sound(17)"></div>
            <div class="piano__blacks__black" (click)="sound(18)"></div>
            <div class="piano__blacks__black" (click)="sound(19)"></div>
            <div class="piano__blacks__black" (click)="sound(20)"></div>
            <div class="piano__blacks__black" (click)="sound(21)"></div>
            <div class="piano__blacks__black" (click)="sound(22)"></div>
            <div class="piano__blacks__black" (click)="sound(23)"></div>
        </div>
        <div class="piano__white" (click)="sound(1)"></div>
        <div class="piano__white" (click)="sound(2)"></div>
        <div class="piano__white" (click)="sound(3)"></div>
        <div class="piano__white" (click)="sound(4)"></div>
        <div class="piano__white" (click)="sound(5)"></div>
        <div class="piano__white" (click)="sound(6)"></div>
        <div class="piano__white" (click)="sound(7)"></div>
        <div class="piano__white" (click)="sound(8)"></div>
        <div class="piano__white" (click)="sound(9)"></div>
        <div class="piano__white" (click)="sound(10)"></div>
        <div class="piano__white" (click)="sound(11)"></div>
        <div class="piano__white" (click)="sound(12)"></div>
        <div class="piano__white" (click)="sound(13)"></div>
    </div>
</body>
