<body>
    <div class="top-part flexRow">
        <img src="../../../assets/images/close.svg" class="closeImage" alt="Close" (click)="closeDialog()">
    </div>
    <div class="information flexRow">
        <div class="information__letter">
            <h1>ElGato Key Lights</h1>
            <p>These lights are great if you shoot video at your desk.</p>
            <p>My desk is pushed up against the wall, so I didn't have room for a large soft box. 
            These lights still deliver on the look that I wanted. Plus, it comes with a desktop app 
            where you can adjust brightness and temperature.</p>
            <button class="information__letter__button">BUY NOW for 169.99€</button>
        </div>
        <img src="../../../assets/images/elgato-key-light.png" class="information__image" alt="Image of the modal">
    </div>
    
</body>