<body>
    <p class="title">Eyes on the screen</p>
    <div class="keyboard">
        <div class="keyboard__line">
            <div class="keyboard__line__key" id="`">
                <span>`</span>
            </div>
            <div class="keyboard__line__key" id="1">
                <span>1</span>
            </div>
            <div class="keyboard__line__key" id="2">
                <span>2</span>
            </div>
            <div class="keyboard__line__key" id="3">
                <span>3</span>
            </div>
            <div class="keyboard__line__key" id="4">
                <span>4</span>
            </div>
            <div class="keyboard__line__key" id="5">
                <span>5</span>
            </div>
            <div class="keyboard__line__key" id="6">
                <span>6</span>
            </div>
            <div class="keyboard__line__key" id="7">
                <span>7</span>
            </div>
            <div class="keyboard__line__key" id="8">
                <span>8</span>
            </div>
            <div class="keyboard__line__key" id="9">
                <span>9</span>
            </div>
            <div class="keyboard__line__key" id="0">
                <span>0</span>
            </div>
            <div class="keyboard__line__key" id="-">
                <span>-</span>
            </div>
            <div class="keyboard__line__key" id="=">
                <span>=</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__utility" id="backspace">
                <span>DEL</span>
            </div>
        </div>
        <div class="keyboard__line">
            <div class="keyboard__line__key keyboard__line__key__utility keyboard__line__key__selected" id="tab">
                <span>TAB</span>
            </div>
            <div class="keyboard__line__key" id="Q">
                <span>Q</span>
            </div>
            <div class="keyboard__line__key" id="W">
                <span>W</span>
            </div>
            <div class="keyboard__line__key" id="E">
                <span>E</span>
            </div>
            <div class="keyboard__line__key" id="R">
                <span>R</span>
            </div>
            <div class="keyboard__line__key" id="T">
                <span>T</span>
            </div>
            <div class="keyboard__line__key" id="Y">
                <span>Y</span>
            </div>
            <div class="keyboard__line__key" id="U">
                <span>U</span>
            </div>
            <div class="keyboard__line__key" id="I">
                <span>I</span>
            </div>
            <div class="keyboard__line__key" id="O">
                <span>O</span>
            </div>
            <div class="keyboard__line__key" id="P">
                <span>P</span>
            </div>
            <div class="keyboard__line__key" id="[">
                <span>[</span>
            </div>
            <div class="keyboard__line__key" id="]">
                <span>]</span>
            </div>
            <div class="keyboard__line__key" id="/">
                <span>/</span>
            </div>
        </div>
        <div class="keyboard__line">
            <div class="keyboard__line__key keyboard__line__key__utility" id="capslock">
                <span>CAPS</span>
            </div>
            <div class="keyboard__line__key" id="A">
                <span>A</span>
            </div>
            <div class="keyboard__line__key" id="S">
                <span>S</span>
            </div>
            <div class="keyboard__line__key" id="D">
                <span>D</span>
            </div>
            <div class="keyboard__line__key" id="F">
                <span>F</span>
            </div>
            <div class="keyboard__line__key" id="G">
                <span>G</span>
            </div>
            <div class="keyboard__line__key" id="H">
                <span>H</span>
            </div>
            <div class="keyboard__line__key" id="J">
                <span>J</span>
            </div>
            <div class="keyboard__line__key" id="K">
                <span>K</span>
            </div>
            <div class="keyboard__line__key" id="L">
                <span>L</span>
            </div>
            <div class="keyboard__line__key" id=";">
                <span>;</span>
            </div>
            <div class="keyboard__line__key" id="'">
                <span>'</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__utility" id="enter">
                <span>ENTER</span>
            </div>
        </div>
        <div class="keyboard__line">
            <div class="keyboard__line__key keyboard__line__key__utility" id="shift">
                <span>SHIFT</span>
            </div>
            <div class="keyboard__line__key" id="Z">
                <span>Z</span>
            </div>
            <div class="keyboard__line__key" id="X">
                <span>X</span>
            </div>
            <div class="keyboard__line__key" id="C">
                <span>C</span>
            </div>
            <div class="keyboard__line__key" id="V">
                <span>V</span>
            </div>
            <div class="keyboard__line__key" id="B">
                <span>B</span>
            </div>
            <div class="keyboard__line__key" id="N">
                <span>N</span>
            </div>
            <div class="keyboard__line__key" id="M">
                <span>M</span>
            </div>
            <div class="keyboard__line__key" id=",">
                <span>,</span>
            </div>
            <div class="keyboard__line__key" id=".">
                <span>.</span>
            </div>
            <div class="keyboard__line__key" id="/">
                <span>/</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__utility" id="shift">
                <span>SHIFT</span>
            </div>
        </div>
    </div>
</body>