@import '../../../assets/scss/style.scss';

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light-blue;
    overflow-x: scroll;
    padding: 0 2rem;

    .title {
        margin-bottom: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 3px;
    }
}