<body>
    <p class="title">Eyes on the screen</p>
    <div class="keyboard">
        <div class="keyboard__line flexRow">
            <div class="keyboard__line__key" id="`">
                <span>`</span>
            </div>
            <div class="keyboard__line__key" id="1">
                <span>1</span>
            </div>
            <div class="keyboard__line__key" id="2">
                <span>2</span>
            </div>
            <div class="keyboard__line__key" id="3">
                <span>3</span>
            </div>
            <div class="keyboard__line__key" id="4">
                <span>4</span>
            </div>
            <div class="keyboard__line__key" id="5">
                <span>5</span>
            </div>
            <div class="keyboard__line__key" id="6">
                <span>6</span>
            </div>
            <div class="keyboard__line__key" id="7">
                <span>7</span>
            </div>
            <div class="keyboard__line__key" id="8">
                <span>8</span>
            </div>
            <div class="keyboard__line__key" id="9">
                <span>9</span>
            </div>
            <div class="keyboard__line__key" id="0">
                <span>0</span>
            </div>
            <div class="keyboard__line__key" id="-">
                <span>-</span>
            </div>
            <div class="keyboard__line__key" id="=">
                <span>=</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__utility" id="backspace">
                <span>DEL</span>
            </div>
        </div>
        <div class="keyboard__line flexRow">
            <div class="keyboard__line__key keyboard__line__key__utility" id="tab">
                <span>TAB</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__selected" id="q">
                <span>Q</span>
            </div>
            <div class="keyboard__line__key" id="w">
                <span>W</span>
            </div>
            <div class="keyboard__line__key" id="e">
                <span>E</span>
            </div>
            <div class="keyboard__line__key" id="r">
                <span>R</span>
            </div>
            <div class="keyboard__line__key" id="t">
                <span>T</span>
            </div>
            <div class="keyboard__line__key" id="y">
                <span>Y</span>
            </div>
            <div class="keyboard__line__key" id="u">
                <span>U</span>
            </div>
            <div class="keyboard__line__key" id="i">
                <span>I</span>
            </div>
            <div class="keyboard__line__key" id="o">
                <span>O</span>
            </div>
            <div class="keyboard__line__key" id="p">
                <span>P</span>
            </div>
            <div class="keyboard__line__key" id="[">
                <span>[</span>
            </div>
            <div class="keyboard__line__key" id="]">
                <span>]</span>
            </div>
            <div class="keyboard__line__key" id="\">
                <span>\</span>
            </div>
        </div>
        <div class="keyboard__line flexRow">
            <div class="keyboard__line__key keyboard__line__key__utility" id="capslock">
                <span>CAPS</span>
            </div>
            <div class="keyboard__line__key" id="a">
                <span>A</span>
            </div>
            <div class="keyboard__line__key" id="s">
                <span>S</span>
            </div>
            <div class="keyboard__line__key" id="d">
                <span>D</span>
            </div>
            <div class="keyboard__line__key" id="f">
                <span>F</span>
            </div>
            <div class="keyboard__line__key" id="g">
                <span>G</span>
            </div>
            <div class="keyboard__line__key" id="h">
                <span>H</span>
            </div>
            <div class="keyboard__line__key" id="j">
                <span>J</span>
            </div>
            <div class="keyboard__line__key" id="k">
                <span>K</span>
            </div>
            <div class="keyboard__line__key" id="l">
                <span>L</span>
            </div>
            <div class="keyboard__line__key" id=";">
                <span>;</span>
            </div>
            <div class="keyboard__line__key" id="'">
                <span>'</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__utility" id="enter">
                <span>ENTER</span>
            </div>
        </div>
        <div class="keyboard__line flexRow">
            <div class="keyboard__line__key" id="shiftleft">
                <span>SHIFT</span>
            </div>
            <div class="keyboard__line__key" id="z">
                <span>Z</span>
            </div>
            <div class="keyboard__line__key" id="x">
                <span>X</span>
            </div>
            <div class="keyboard__line__key" id="c">
                <span>C</span>
            </div>
            <div class="keyboard__line__key" id="v">
                <span>V</span>
            </div>
            <div class="keyboard__line__key" id="b">
                <span>B</span>
            </div>
            <div class="keyboard__line__key" id="n">
                <span>N</span>
            </div>
            <div class="keyboard__line__key" id="m">
                <span>M</span>
            </div>
            <div class="keyboard__line__key" id=",">
                <span>,</span>
            </div>
            <div class="keyboard__line__key" id=".">
                <span>.</span>
            </div>
            <div class="keyboard__line__key" id="/">
                <span>/</span>
            </div>
            <div class="keyboard__line__key keyboard__line__key__utility" id="shiftright">
                <span>SHIFT</span>
            </div>
        </div>
    </div>
</body>