<body>
    <h1 class="title">Simplified Budget</h1>
    <div class="budgetAmount">
        <input type="text">
        <p>Budget Amount</p>
    </div>
    <div class="budgetArticles flexRow">
        <div class="budgetArticles__expense">
            <input type="text">
            <p>Expense</p>
        </div>
        <div class="budgetArticles__amount">
            <input type="text">
            <p>Amount</p>
        </div>
        <img src="../../../assets/images/plus.svg" alt="Add Image">
    </div>
</body>
