<body class="flexColumn flexCenter">
    <div class="password flexRow">
        <input type="text" [(ngModel)]="password" #password__input>
        <img [ngxClipboard]="password__input" matTooltip="Copy to Clipboard" matTooltipPosition="below" src="../../../assets/images/copy.svg" (click)="copied = true">
        <p *ngIf="copied">Copied!</p>
    </div>
    <div class="length flexRow">
        <mat-slider (change)="changeLength()" [(ngModel)]="length" step="1" min="1" max="20"></mat-slider>
        <p>{{length}} characters</p>
    </div>
    <div class="options" [formGroup]="options">
        <p><mat-checkbox formControlName="symbols">Include Symbols <span>(@#$%)</span></mat-checkbox></p>
        <p><mat-checkbox formControlName="numbers">Include Numbers <span>(1234)</span></mat-checkbox></p>
        <p><mat-checkbox formControlName="lowercase">Include Lowercase Characters <span>(abcd)</span></mat-checkbox></p>
        <p><mat-checkbox formControlName="uppercase">Include Uppercase Characters <span>(ABCD)</span></mat-checkbox></p>        
    </div>
</body>