@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/media-query/media-card.scss';

body {
    height: 100vh;
    background-color: $background-color;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}