@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/media-query/media-playlist.scss';

body {
    color: $white;
    width: 20vw;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
}