.password {
    height: 4.5rem;

    img {
        height: 70%;
    }

    p {
        font-weight: 700;
        color: $light-blue;
        letter-spacing: 0.5px;
    }
}

.length {
    margin: 1rem 0;
}

.options {
    width: 35% !important;

    p {
        font-weight: 700;
        font-size: 1.5rem;
        color: $dark-gray;
    
        span {
            font-weight: 400;
        }
    
        &:not(:last-of-type) {
            margin-bottom: 1.2rem;
        }
    }
}