@import '../assets/scss/style.scss';
@import '../assets/scss/media-query/media-app.scss';

* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: $black;
    padding: 2rem 8rem;

    .logo {
        margin-bottom: 1rem;
        width: 12rem;
    }

    app-video {
        flex: 1;
        padding-right: 3.5rem;
    }
}